*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background: url("background.jpg") no-repeat;
  background-size: cover;
  }

main{ /* black container */
  width: 63%;
  margin: auto;
  margin-top: 1.5%;
  padding:5%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
}

header{
  text-align: center;
  color: #1BE906;
}

header img{
  width: 23%;
}

nav{
  background-color: #1BE906;
  height: 40px;
  text-align: center;
  margin-top: 0.4%;
  padding-top: 7px;
}

section{
  color: white;
  margin-top: 2.5%;
}

section h2{
  display: inline-block;
}

section p{
  font-size: 17px;
  margin-top: 0.4%;
}

.battery-bar{
  height: 25px;
  border-radius: 5px;
  margin-top: 0.2%;
}

.medium-charge{
  background-color: #F0BB3A;
  width: 38%;
  }

.full-charge{
  background-color: lightgreen;
  width: 60%;
}

.low-charge{
  background-color: #EF4032;
  width: 20%;
}
